body {
    background:#404040;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Layout Rules */

header {
    padding:0.625em 10%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:400;
    color:#fff;
}

nav {
    background:#E5E5E5;
    margin:0 1.5em;
    padding:10px 15%;
}

article {
    background:#FFFFFF;
    margin:0 1.5em;
    padding:0.625em 10%;
    color:#000;
}

footer {
    background:#E5E5E5;
    margin:0 1.5em;
    padding:5px 5px;
    color:#000;
}

/* Heading Rules */

header h1 {
    margin:0 1.5em;
    font-size:28px;
    padding-bottom:.5em;
}

article h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:20px;
    font-weight:400;
    margin:0 0 12px;
}

article h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:16px;
    font-weight:400;
    margin:0 0 12px;
}

/* Paragraph Rules */

article p {
    margin:12px 0;
    font-size:14px;
}

/* List Rules */

article ul {
    margin:12px 0;
}

article li {
    list-style-type:circle;
    margin-left:24px;
    margin-bottom:12px;
}

/* Link Rules */

nav a:link, nav a:visited {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:1em;
    padding:0 2.0em;
    text-decoration:none;
}

nav a:hover, nav a:active {
    color:#000;
    text-decoration:underline;
}

article a:link, article a:visited {
    color:#078cb9;
    text-decoration:none;
}

article a:hover, article a:active {
    text-decoration:underline;
}

footer a:link, footer a:visited {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:1em;
    padding:0 2.0em;
    text-decoration:none;
}

footer a:hover, footer a:active {
    color:#000;
    text-decoration:underline;
}