body {
    background:#404040;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Layout Rules */

header {
    padding:0.625em 12%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:400;
    color:#fff;
}

nav {
    background:#E5E5E5;
    margin:0 1.5em;
    padding:0.625em 10%;
}

article {
    background:#FFFFFF;
    margin:0 1.7em;
    padding:1em 10% 1em;
    color:#000;
    font-size:0.9em;
}

footer {
    background:#E5E5E5;
    margin:0 1.5em;
    padding:0.625em 10%;
    color:#000;
}

/* Heading Rules */

header h1 {
    margin:10px 0;
    font-size:32px;
    padding-bottom:5px;
}

article h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:24px;
    font-weight:400;
    margin:0 0 12px;
}

article h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:18px;
    font-weight:400;
    margin:0 0 12px;
}

/* Paragraph Rules */

article p {
    margin:12px 0;
}

/* List Rules */

article ul {
    margin:12px 0;
}

article li {
    list-style-type:circle;
    margin-left:24px;
    margin-bottom:12px;
}

/* Link Rules */

nav a:link, nav a:visited {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: