body {
    background:url(img/dimension_@2x.png); /* Pattern by Luuk van Baars, downloaded from subtlepatterns.com */
    font-family:Arial, Helvetica, sans-serif;
}

/* Layout Rules */

header {
    padding:0.625em 5%;
    font-family:"Roboto Condensed", Arial, Helvetica, sans-serif;
    font-weight:400;
    color:#000000;
}

nav {
    
    padding:0.625em 5%;
}

article {
    background:#e5e4e2;
    padding:1.5em 5% 0.625em;
    color:#2b1b17;
    font-size:0.9em;
}

footer {
    padding:0.625em 5%;
    color:#1a99c4;
}